:root
{
    --name-height: 50px;
    --lightblue: #4874c4;

    --list-size: 280px;
    --list-item-size: calc(var(--list-size) / 7);

    --dir-vertical: calc(var(--list-item-size) * 0);
    --dir-horizontal: calc(var(--list-item-size) * 1);
}
header
{
    /* top: 0; */
    position: sticky;
    background: #ffff;
}
.username
{
    display: block;
    position: sticky;
    line-height: 2em;

    color: white;
    font-size: 22.5px;/*30*/
    text-align: center;

    background: rgb(204,53,110);
    background: linear-gradient(145deg, rgba(204,53,110,1) 0%, rgba(139,54,128,1) 100%);
}

/*#region List*/
.vocation-list
{
    margin: var(--list-item-size) 0 0;
}
.vocation-list ul
{
    display: flex;
    position: relative;
    justify-content: space-between;
    
    margin: 0 auto;
    width: 280px;
}
.vocation-list li
{
    display: flex;
    list-style: none;
    align-items: bottom;
}
.vocation-list img
{
    width: 100%;
}
.vocation-list li span
{
    display: none;
}
/*#endregion*/
/*#region Bar Indicator*/
.vocation-list .bar
{
    bottom: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;

    padding: 0 calc(var(--list-item-size) / 2);
    
    width: 100%;
    height: var(--list-item-size);
}
.vocation-list .bar div
{
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #ffd1f0;
}

.vocation-list .indicator
{
    left: 0;
    bottom: 100%;
    position: absolute;
    padding: 8px;

    width: var(--list-item-size);
    height: var(--list-item-size);

    transition: transform 0.5s;
}
.vocation-list .indicator div
{
    width: 100%;
    height: 100%;
    background: #d5759c;
    border-radius: 50% 50% 50% 0px;
    transform: rotate(-45deg);
}
/*#endregion*/

@media (min-width: 925px)
{
    :root
    {
        --list-size: calc(100vh - 85px);
        --list-item-size: calc(var(--list-size) / 7);

        --dir-vertical: calc(var(--list-item-size) * 1);
        --dir-horizontal: calc(var(--list-item-size) * 0);
    }
    header
    {
        height: 100vh;
        min-width: 320px;
    }
    .username
    {
        font-size: 35px;
    }

    /*#region List*/
    .vocation-list
    {
        margin: auto 15px;
        height: var(--list-size);
    }
    .vocation-list ul
    {
        display: grid;
        margin: 0;

        width: 70%;
        height: 100%;
    }
    .vocation-list img
    {
        margin: auto;
        width: auto;
        height: 10vh;
    }
    .vocation-list li span
    {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 0 20px;

        font-size: 12px;
        color: var(--lightblue);

        width: 100%;
    }
    /*#endregion*/
    /*#region Bar Indicator*/
    .vocation-list .bar
    {
        left: 100%;
        bottom: auto;
        padding: calc(var(--list-item-size) / 2) 0;

        height: 100%;
        width: var(--list-item-size);
    }
    .vocation-list .bar div
    {
        width: 10px;
        height: 100%;
        border-radius: 5px;
    }
    .vocation-list .indicator
    {
        left: 100%;
        padding: 3.8vh;

        width: var(--list-item-size);
        height: var(--list-item-size);
    }
    .vocation-list .indicator div
    {
        transform: rotate(45deg);
    }
    /*#endregion*/
}

/*#region Translate Indicator*/
.vocation-list ul li:nth-child(1).active ~ .indicator
{
    transform: translate(calc(var(--dir-horizontal) * 0), calc(var(--dir-vertical) * 1));
}
.vocation-list ul li:nth-child(2).active ~ .indicator
{
    transform: translate(calc(var(--dir-horizontal) * 1), calc(var(--dir-vertical) * 2));
}
.vocation-list ul li:nth-child(3).active ~ .indicator
{
    transform: translate(calc(var(--dir-horizontal) * 2), calc(var(--dir-vertical) * 3));
}
.vocation-list ul li:nth-child(4).active ~ .indicator
{
    transform: translate(calc(var(--dir-horizontal) * 3), calc(var(--dir-vertical) * 4));
}
.vocation-list ul li:nth-child(5).active ~ .indicator
{
    transform: translate(calc(var(--dir-horizontal) * 4), calc(var(--dir-vertical) * 5));
}
.vocation-list ul li:nth-child(6).active ~ .indicator
{
    transform: translate(calc(var(--dir-horizontal) * 5), calc(var(--dir-vertical) * 6));
}
.vocation-list ul li:nth-child(7).active ~ .indicator
{
    transform: translate(calc(var(--dir-horizontal) * 6), calc(var(--dir-vertical) * 7));
}
/*#endregion*/