:root
{
    --point-size: 15px;
    --box-width: 280px;
}

.right-pannel
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0;
}
.right-pannel .container
{
    display: none;
    width: var(--box-width);
}

/*#region Progress Bar*/
.level-progress
{
    display: flex;

    width: var(--box-width);
    height: 50px;
    padding: 10px 13px;

    background-color: rgb(239, 65, 111);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

/*value*/
.level-progress .amount
{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80px;
    text-align: center;
    background-color: rgb(173, 15, 56);
    border-radius: 2px;
}
.level-progress .amount p
{
    color: white;
    font-size: 20px;
    font-family: "Arial";
}

/*bar*/
.level-progress .container
{
    display: flex;
    align-items: center;

    position: relative;
    width: 100%;
    height: 100%;
}
.level-progress .bar
{
    width: 100%;
    height: 6px;
    margin: 0 calc(var(--point-size) * 1.5);

    background-color: rgb(173, 15, 56);
    border-radius: 10px;
}
.level-progress .bar div
{
    width: 0%;
    height: 100%;
    transition: 0.5s;

    background-color: white;
    border-radius: 10px;
}

/*points*/
.level-progress .points
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    padding: 0 15px;
    width: 100%;
}
.points .progress
{
    width: var(--point-size);
    height: var(--point-size);
    border-radius: 100%;
}
.progress.complete
{
    background-color: white;
}
.progress.uncomplete
{
    background-color: rgb(173, 15, 56);
}
/*#endregion*/
/*#region Question Area*/
.question-box
{
    margin: 12px 0;
    position: relative;
    height: calc(var(--box-width) - 10px);
}
.question-box div
{
    position: absolute;
    
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    word-wrap: break-word;
    width: var(--box-width);
    height: calc(var(--box-width) - 10px);

    background-color: white;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    transition: 0.5s;
    transform: translateX(0px) rotateZ(0deg);
    opacity: 100%;
}
.question-box p
{
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    font-family: "Arial";
}
/*#endregion*/
/*#region Buttons*/
.buttons
{
    display: flex;
    justify-content: center;
}
.buttons div
{
    width: 60px;
    height: 60px;
    margin: auto;
    
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: white;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}
.buttons p
{
    font-size: 25px;
    user-select: none;
    font-family: "Arial";
}
/*#endregion*/

/*#region Info*/
.info
{
    display: none;
    margin-top: 20px;
}
.info p
{
    font-size: 25px;
    text-align: center;
    font-family: Arial;
    color:dodgerblue;
}
/*#endregion*/

@media (min-width: 925px)
{
    :root
    {
        --box-width: 300px;
    }
    .right-pannel
    {
        width: 100%;
    }

    /*#region Progress Bar*/
    .level-progress
    {
        height: 70px;
    }
    .level-progress .amount
    {
        width: 110px;
    }
    /*#endregion*/
    /*#region Info*/
    .info
    {
        display: block;
    }
    /*#endregion*/
}