.question-area
{
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* padding: 20vw 0; */

    width: 100%;
    min-height: calc(100vh - 166.39px);
}
.question-area-container
{
    display: block;
    overflow: hidden;
    visibility: visible;

    margin: 0 auto;
    padding: 10px;

    width: 350px;
    min-width: 280px;
    max-width: 350px;
}
.game
{
    display: block;
    position: absolute;
    visibility: hidden;
}
.enable
{
    animation-name: fade-in;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.disable
{
    animation-name: fade-out;
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes fade-in
{
    from { opacity: 0%; }
    to { visibility: visible; opacity: 100%; }
}
@keyframes fade-out
{
    from { opacity: 100%; }
    to { visibility: hidden; opacity: 0%; }
}

/*#region Level Progress Bar*/
.level-progress
{
    margin: 10px 0;
    display: flex;
    background: #ef416f;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}
.amount
{
    width: 30%;
    max-width: 80px;
    margin: 10px 15px;
    background: #ad0f38;
}
.amount p
{
    font-size: 20px;
    line-height: 1.8em;
    color: white;
}
.progress-bar-container
{
    display: flex;
    position: relative;
    align-items: center;
    
    width: 70%;
    margin: 0 15px 0 0;
}
.progress-bar
{
    width: 100%;
    height: 8px;
    background: #ad0f38;
    border-radius: 5px;
}
#fill-amount
{
    width: 0%;
    height: 100%;
    background: white;
    transition: width 0.5s;
    border-radius: 5px;
}
.level-points
{
    width: 100%;
    height: 100%;

    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
}
.progress
{
    width: 18px;
    height: 18px;
    border-radius: 50%;
}
.progress.complete
{
    background: white;
}
.progress.uncomplete
{
    background: #ad0f38;
}
/*#endregion*/
/*#region Question Box*/
.question-box
{
    position: relative;
}
.question-box::after
{
    content: "";
    display: block;
    padding-bottom: 90%;
}
.question-box div
{
    display: flex;
    position: absolute;

    text-align: center;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    padding: 20px;

    background: white;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    transition: transform 0.5s;
    transform: translateX(0px) rotateZ(0deg);
    opacity: 100%;
}
.question-box p
{
    font-size: 3ex;
    font-weight: bold;
}
/*#endregion*/
/*#region Swipe Buttons*/
.buttons
{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
.buttons #left
{
    color: #ef416f;
}
.buttons #right
{
    color: #31bd38;
}
.info
{
    display: none;
}
/*#endregion*/

/*#region Game Button*/
.game-info
{
    margin: 10px auto 0;
}
#shoot
{
    margin: 0 auto;
}
#shoot img
{
    height: 70%;
}

/*#endregion*/

@media (min-width: 925px)
{
    .question-area
    {
        min-height: 100vh;
        padding: 0;
    }
    .question-area-container
    {
        overflow: visible;
    }

    .amount
    {
        margin: 15px 15px;
    }
    .amount p
    {
        font-size: 22px;
        line-height: 2.3em;
    }

    .info
    {
        display: inline;
        font-size: 22px;
        font-weight: lighter;
        color: #4874c4;
    }

    #shoot
    {
        display: none;
    }
}