*
{
    margin: 0;
    border: 0;
    padding: 0;
    transition: none;
    
    font-family: "Arial";
    box-sizing: border-box;
}
body
{
    background: #dae3f3;
    overflow-x: hidden;
}

@media (min-width: 925px)
{
    body
    {
        display: flex;
        height: 100vh;
    }
}