:root
{

    /*#region Main Colors*/
    
        --light-blue-text: #4874c4;
        --progress-bar-color: white;

        --pink-theme: #ffd1f0;
        --red-theme: #ef416f;
        --green-theme: #31bd38;
        --dark-red-theme: #ad0f38;
    
    /*#endregion*/
    /*#region Values*/
    
        --button-size: 65px;

        --list-size: 280px;
        --list-item-size: calc(var(--list-size) / 7);
        --dir-vertical: calc(var(--list-item-size) * 0);
        --dir-horizontal: calc(var(--list-item-size) * 1);
    
    /*#endregion*/

}

*
{
    margin: 0;
    border: 0;
    padding: 0;
    transition: none;
    
    list-style: none;
    user-select: none;
    font-family: "Arial";
    box-sizing: border-box;
}
body
{
    position: relative;
    overflow-x: hidden;
    background: #dae3f3;
    max-width: 100vw;
    max-height: 100vh;
}

/*#region----------------------Layout----------------------*/

.over
{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
}

/*#endregion*/

/*#region----------------------Inputs----------------------*/

input::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

/*#endregion*/
/*#region----------------------Button----------------------*/

.button
{
    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;

    width: var(--button-size);
    height: var(--button-size);
    font-size: 3ex;

    background: white;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

/*#endregion*/

/*#region----------------------Fade------------------------*/

    .enable
    {
        pointer-events: all;
        animation-name: fade-in;
        animation-duration: var(--t);
        animation-fill-mode: both;
    }
    .disable
    {
        pointer-events: none;
        animation-name: fade-out;
        animation-duration: var(--t);
        animation-fill-mode: both;
    }
    @keyframes fade-in
    {
        from { opacity: 0%; }
        to { visibility: visible; opacity: 100%; }
    }
    @keyframes fade-out
    {
        from { opacity: 100%; }
        to { visibility: hidden; opacity: 0%; }
    }

/*#endregion*/
/*#region----------------------Loading---------------------*/

    .loading
    {
        position: absolute;
        width: 30px;
        height: 30px;
    }
    .loading div
    {
        width: 100%;
        height: 100%;
        border: 4px solid #ffffff;
        border-top: 4px solid #3498db;
        border-radius: 50%;

        animation: spin 1s linear infinite;
    }
    @keyframes spin
    {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

/*#endregion*/

/*#region----------------------Login-----------------------*/

    #login
    {
        display: flex;
        justify-content: center;
        align-items: center;

        background: rgb(204, 53, 110);
        background: linear-gradient(145deg, rgba(204,53,110,1) 0%, rgba(139,54,128,1) 100%);
        
        z-index: 1000;
    }
    #login .container
    {
        position: relative;
        max-width: 300px;
        padding: 25px;
        margin: 0 20px;

        color: white;
        background: rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
        border-radius: 5px;
    }
    #login h1
    {
        text-align: center;
        margin: 5px 0 10px;
    }

    #login input
    {
        width: 100%;
        height: 30px;
        padding: 0 10px;
        margin: 0 0 10px;

        color: white;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 2px;
        border-style: none;
        outline: none;

        transition: 0.5s ease-in;
    }
    #login input:focus
    {
        background: none;
    }
    #login input::placeholder
    {
        color: white;
        font-size: 13px;
    }

    #login .message
    {
        color: red;
        font-size: 13px;
        text-align: center;
    }

    #login button
    {
        width: 100%;
        margin: 10px 0 0;
        
        color: white;
        font-size: 15px;
        line-height: 2.5em;
        font-weight: bold;
        
        cursor: pointer;
        background: #222a3f;
        border-radius: 2px;

        transition: 0.5s ease-in;
    }
    #login button:hover
    {
        color: white;
    }

/*#endregion*/
/*#region----------------------Tutorial--------------------*/

    #tutorial
    {
        display: flex;
        align-items: center;
        justify-content: center;

        background: rgba(0, 0, 0, 0.8);
    }
    #tutorial .container
    {
        padding: 20px;
        margin: 0 20px;
        max-width: 500px;
        text-align: center;

        background: white;
        border-radius: 5px;
    }
    #tutorial span
    {
        display: block;
        margin: 0 0 20px;
        text-align: left;
    }
    #tutorial button
    {
        padding: 0.5em 1.5em;
        cursor: pointer;

        border: solid #000 1px;
        border-radius: 5px;
        transition: 0.5s;
    }
    #tutorial button:hover
    {
        background: rgb(112, 112, 112);
        color: white;
    }

/*#endregion*/

/*#region----------------------Category--------------------*/

    #survey header
    {
        position: sticky;
        background: white;
    }

    /*#region Name*/

        #survey header #text-container
        {
            display: flex;
            position: sticky;
            align-items: center;
            justify-content: center;

            height: 6vh;

            background: rgb(204,53,110);
            background: linear-gradient(145deg, rgba(204,53,110,1) 0%, rgba(139,54,128,1) 100%);
        }
        #survey header #username
        {
            font-size: 30px;
            color: white;
            white-space: nowrap;
        }

    /*#endregion*/
    /*#region Category List*/

        #survey header ul
        {
            display: grid;
            margin: 0 auto;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(7, minmax(1px, 1fr));

            width: var(--list-size);
            height: 110px;
        }
        #survey header li
        {
            grid-area: 2 / var(--i) / 3 / calc(var(--i) + 1);
        }
        #survey header li img
        {
            width: 100%;
        }
        #survey header li span
        {
            display: none;
        }

    /*#endregion*/
    /*#region Slider*/

        #survey header .slider
        {
            display: flex;
            position: relative;
            align-items: center;

            grid-area: 1 / 1 / 2 / 8;
        }

        /*#region Bar*/

            #survey header .slider .bar
            {
                display: flex;
                position: absolute;
                align-items: center;
                justify-content: center;

                width: 100%;
                height: 100%;

                padding: 0 calc(var(--list-item-size) / 2);
            }
            #survey header .slider .bar div
            {
                width: 100%;
                height: 10px;

                background: var(--pink-theme);
                border-radius: 5px;
            }

        /*#endregion*/
        /*#region Indicator*/

            #survey header .indicator
            {
                position: absolute;
                padding: 8px;

                width: var(--list-item-size);
                height: var(--list-item-size);
                
                transition: transform 0.5s;
            }
            #survey header .indicator div
            {
                width: 100%;
                height: 100%;

                transform: rotate(-45deg);

                background: #d5759c;
                border-radius: 50% 50% 50% 0px;
            }

        /*#endregion*/

    /*#endregion*/

    /*#region Translate Indicator*/

        #survey header ul li:nth-child(1).active ~ .slider .indicator
        {
            transform: translate(calc(var(--dir-horizontal) * 0), calc(var(--dir-vertical) * 0));
        }
        #survey header ul li:nth-child(2).active ~ .slider .indicator
        {
            transform: translate(calc(var(--dir-horizontal) * 1), calc(var(--dir-vertical) * 1));
        }
        #survey header ul li:nth-child(3).active ~ .slider .indicator
        {
            transform: translate(calc(var(--dir-horizontal) * 2), calc(var(--dir-vertical) * 2));
        }
        #survey header ul li:nth-child(4).active ~ .slider .indicator
        {
            transform: translate(calc(var(--dir-horizontal) * 3), calc(var(--dir-vertical) * 3));
        }
        #survey header ul li:nth-child(5).active ~ .slider .indicator
        {
            transform: translate(calc(var(--dir-horizontal) * 4), calc(var(--dir-vertical) * 4));
        }
        #survey header ul li:nth-child(6).active ~ .slider .indicator
        {
            transform: translate(calc(var(--dir-horizontal) * 5), calc(var(--dir-vertical) * 5));
        }
        #survey header ul li:nth-child(7).active ~ .slider .indicator
        {
            transform: translate(calc(var(--dir-horizontal) * 6), calc(var(--dir-vertical) * 6));
        }

    /*#endregion*/

/*#endregion*/
/*#region----------------------Survey----------------------*/

    /*#region Container*/

        #survey .container
        {
            display: flex;
            position: relative;
            text-align: center;
            align-items: center;
            justify-content: center;

            width: 100%;
            min-height: calc(100vh - 151.39px);
        }
        #questionary
        {
            display: block;
            overflow: hidden;
            visibility: visible;

            margin: 0 auto;
            padding: 0 15px;

            width: 350px;
            min-width: 270px;
            max-width: 350px;
        }
        #minigame
        {
            display: block;
            position: absolute;
            visibility: hidden;
        }

    /*#endregion*/
    
    /*#region Questionary*/

        /*#region Progress Bar*/

            .level-progress
            {
                margin: 10px 0;
                display: flex;
                background: #ef416f;
                box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
                border-radius: 2px;
            }
            .amount
            {
                width: 30%;
                max-width: 80px;
                margin: 10px 15px;
                background: #ad0f38;
            }
            .amount p
            {
                font-size: 20px;
                line-height: 1.8em;
                color: white;
            }
            .progress-bar-container
            {
                display: flex;
                position: relative;
                align-items: center;
                
                width: 70%;
                margin: 0 15px 0 0;
            }
            .progress-bar
            {
                width: 100%;
                height: 8px;
                background: #ad0f38;
                border-radius: 5px;
            }
            #fill-amount
            {
                width: 0%;
                height: 100%;
                background: white;
                transition: width 0.5s;
                border-radius: 5px;
            }
            .level-points
            {
                width: 100%;
                height: 100%;

                display: flex;
                position: absolute;
                align-items: center;
                justify-content: space-between;
            }
            .progress
            {
                width: 18px;
                height: 18px;
                border-radius: 50%;
            }
            .progress.complete
            {
                background: white;
            }
            .progress.uncomplete
            {
                background: #ad0f38;
            }

        /*#endregion*/
        /*#region Question Box*/

            .question-box
            {
                position: relative;
            }
            .question-box::after
            {
                content: "";
                display: block;
                padding-bottom: 90%;
            }
            .question-box div
            {
                display: flex;
                position: absolute;

                text-align: center;
                align-items: center;
                justify-content: center;

                width: 100%;
                height: 100%;
                padding: 20px;

                background: white;
                box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
                border-radius: 5px;

                transition: transform 0.5s;
                transform: translateX(0px) rotateZ(0deg);
                opacity: 100%;
            }
            .question-box p
            {
                font-size: 20px;
                font-weight: bold;
            }

        /*#endregion*/
        /*#region Swipe Buttons*/

            .buttons
            {
                display: flex;
                justify-content: space-around;
                margin: 10px 0;
            }
            .buttons #left
            {
                color: #ef416f;
            }
            .buttons #right
            {
                color: #31bd38;
            }
            .info
            {
                display: none;
            }

        /*#endregion*/

    /*#endregion*/
    /*#region MiniGame*/

        .game-info
        {
            margin: 10px auto 0;
        }
        #shoot
        {
            margin: 0 auto;
        }
        #shoot img
        {
            height: 70%;
        }

    /*#endregion*/
    /*#region Result*/

        #result
        {
            position: absolute;

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0.1fr 1fr 0.4fr;

            max-width: 300px;
            margin: 0 15px;
        }
        #result p
        {
            margin: auto 0;
            grid-area: 1 / 1 / 2 / 2;
            color: var(--light-blue-text);
        }
        #result img
        {
            min-height: 250px;
            justify-self: center;
            grid-area: 2 / 1 / 3 / 2;
        }
        #result span
        {
            margin: 10px 0 0;
            font-size: 15px;
            max-width: 500px;
            text-align: left;

            grid-area: 3 / 1 / 4 / 2;
        }

    /*#endregion*/

/*#endregion*/

@media (min-width: 925px)
{
    :root
    {
        --list-size: calc(90vh);

        --dir-vertical: calc(var(--list-item-size) * 1);
        --dir-horizontal: calc(var(--list-item-size) * 0);
    }

    /*#region------------------Category--------------------*/

        #survey header
        {
            height: 100vh;
        }

        /*#region Name*/

            #survey header #text-container
            {
                width: 100%;
                height: calc(100vh - var(--list-size));
                padding: 10px;
            }

        /*#endregion*/
        /*#region Category List*/

            #survey header ul
            {
                grid-template-rows: repeat(7, minmax(1px, 1fr));
                grid-template-columns: 1fr 0.5fr;

                width: 300px;
                height: var(--list-size);
                margin: 0 10px;
            }
            #survey header li
            {
                display: flex;
                grid-area: var(--i) / 1 / calc(var(--i) + 1) / 2;
            }
            #survey header li img
            {
                margin: 5%;
                width: auto;
                height: auto;
            }
            #survey header li span
            {
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: center;

                width: 100%;
                font-size: 11px;
                padding: 0 10px;
                color: var(--light-blue-text);
            }

        /*#endregion*/
        /*#region Slider*/

            #survey header .slider
            {
                align-items: flex-start;
                justify-content: center;
                grid-area: 1 / 2 / 8 / 3;
            }

            /*#region Bar*/

                #survey header .slider .bar
                {
                    padding: calc(var(--list-item-size) / 2) 0;
                }
                #survey header .slider .bar div
                {
                    width: 10px;
                    height: 100%;
                }

            /*#endregion*/
            /*#region Indicator*/

                #survey header .indicator
                {
                    padding: calc(var(--list-item-size) / 3);
                    transition: transform 0.5s;
                }
                #survey header .indicator div
                {
                    transform: rotate(45deg);
                }

            /*#endregion*/

        /*#endregion*/
    
    /*#endregion*/
    /*#region------------------Survey----------------------*/

        /*#region Container*/

            #survey
            {
                display: flex;
            }
            #survey .container
            {
                min-height: 100vh;
                padding: 0;
            }
            #questionary
            {
                overflow: visible;
            }

        /*#endregion*/
        
        /*#region Questionary*/

            .amount
            {
                margin: 15px 15px;
            }
            .amount p
            {
                font-size: 22px;
                line-height: 2.3em;
            }

            .info
            {
                display: inline;
                font-size: 22px;
                font-weight: lighter;
                color: #4874c4;
            }

        /*#endregion*/
        /*#region MiniGame*/

            #shoot
            {
                display: none;
            }

        /*#endregion*/
        /*#region Result*/

            #result
            {
                grid-template-columns: 0.5fr 1fr;
                grid-template-rows: 0.1fr 1fr;

                max-width: 500px;
            }
            #result p
            {
                justify-self: left;
            }
            /* #result img
            {
                
            } */
            #result span
            {
                font-size: 18px;
                grid-area: 2 / 2 / 3 / 3;
            }

        /*#endregion*/

    /*#endregion*/

}