:root
{
    --light-blue-text: #4874c4;
    --progress-bar-color: white;

    --red-theme: #ef416f;
    --green-theme: #31bd38;
    --dark-red-theme: #ad0f38;

    --button-size: 70px;
}

*
{
    margin: 0;
    border: 0;
    padding: 0;
    transition: none;
    
    font-family: "Arial";
    box-sizing: border-box;
}
body
{
    overflow-x: hidden;
    background: #dae3f3;
}

.button
{
    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
    user-select: none;

    width: var(--button-size);
    height: var(--button-size);
    font-size: 3ex;

    background: white;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

@media (min-width: 925px)
{
    body
    {
        display: flex;
    }
}